@{
    ViewData["Title"] = "edicion de estudiantes";
    Layout = "AdminLayout";
}


<div>
    <h1 class="display-4">Edición de estudiantes</h1>
    <h1 class="display-4">@ViewBag.Estudiante.getNombre()</h1>
    <h1 class="display-4">@ViewBag.Estudiante.correo</h1>

    <div style="display: flex; flex-direction: column">

    </div>
</div>