@model CubiculosTEC.Models.Estudiante
@{
    ViewData["Title"] = "Edicion de estudiantes";
    Layout = "AdminLayout";
}



<div>
    <h1 class="display-4">Edición de estudiante</h1>
    <form method="post" action="@Url.Action("editEstudianteconf", "Admin")">
        <div class="edit-label">
            <label style="font-size: 20px;">Correo electrónicos</label>
            <div class="col-sm-6">
                <input type="text" name="elCorreo" class="login-entry" value=@ViewBag.Estudiante.correo>
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Contrasena</label>
            <div class="col-sm-6">
                <input type="text" name="laContrasena" class="login-entry" value=@ViewBag.Estudiante.contrasena>
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Cédula</label>
            <div class="col-sm-6">
                <input type="number" name="laCedula" class="login-entry" value=@ViewBag.Estudiante.cedula>
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Carne</label>
            <div class="col-sm-6">
                <input type="number" name="elCarne" class="login-entry" value=@ViewBag.Estudiante.carne>
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Nombre</label>
            <div class="col-sm-6">
                <input type="text" name="elNombre" class="login-entry" value=@ViewBag.Estudiante.nombre>
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Apellido 1</label>
            <div class="col-sm-6">
                <input type="text" name="elApellido1" class="login-entry" value=@ViewBag.Estudiante.apellido1>
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Apellido 2</label>
            <div class="col-sm-6">
                <input type="text" name="elApellido2" class="login-entry" value=@ViewBag.Estudiante.apellido2>
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Fecha de nacimiento </label>
            <div class="col-sm-6">
                <input name="laFecha" class="login-entry" type="date" id="date" placeholder= "yyyy-mm-dd" value="@ViewBag.Estudiante.fechaNacimiento">
            </div>
        </div>
        <div class="edit-label">
            <label style="font-size: 20px;">Estado</label>
            <div class="col-sm-6">
                <input type="number" name="elEstado" class="login-entry" value=@ViewBag.Estudiante.estado>
            </div>
        </div>
        <button style="align-self: center;" class="btn-accept" type="submit">Aplicar cambios</button>
    </form>
</div>