@{
    ViewData["Title"] = "Gestión de estudiantes";
    Layout = "AdminLayout";
}

<div class="text-center">
    <h1 class="display-4">Gestión de estudiantes</h1>

    <div style="display: flex; flex-direction: column">
        <input class="search-bar" placeholder="Buscar">  </input>
        <table style="margin-top: 60px;" class="table">
            <thead >
                <tr style="background: #299CCB">
                <th>Nombre</th>
                <th>Carnet</th>
                <th>Correo electrónico</th>
                <th>Estado</th>
                <th>Acciones</th>

                </tr>

            </thead>
            <tbody>
                <tr>
                <td>Juan</td>
                <td>2121555</td>
                <td>Juan@asdf</td>
                <td>act</td>
                <td><button class="btn-accept">sddddfg</button></td>
                </tr>
                                <tr>
                <td>Juan</td>
                <td>2121555</td>
                <td>Juan@asdf</td>
                <td>act</td>
                <td>aaa</td>
                </tr>
                                <tr>
                <td>Juan</td>
                <td>2121555</td>
                <td>Juan@asdf</td>
                <td>act</td>
                <td>aaa</td>
                </tr>
                                <tr>
                <td>Juan</td>
                <td>2121555</td>
                <td>Juan@asdf</td>
                <td>act</td>
                <td>aaa</td>
                </tr>
                                <tr>
                <td>Juan</td>
                <td>2121555</td>
                <td>Juan@asdf</td>
                <td>act</td>
                <td>aaa</td>
                </tr>
                                <tr>
                <td>Juan</td>
                <td>2121555</td>
                <td>Juan@asdf</td>
                <td>act</td>
                <td>aaa</td>
                </tr>
                                <tr>
                <td>Juan</td>
                <td>2121555</td>
                <td>Juan@asdf</td>
                <td>act</td>
                <td>aaa</td>
                </tr>
            </tbody>


        </table>
    </div>
</div>