@{
    ViewData["Title"] = "¡Confirmación completada!";
    Layout="_Layout";
}

<html>
<div>
    <h1>¡Confirmación completada!</h1>

    <p>Se ha confirmado su reservacion, en su correo encontrará la información de la reservación y el código de acceso. </p>
    


</div>
</html>