@{
    ViewData["Title"] = "¡Reservación completada!";
    Layout="_Layout";
}

<html>
<div>
    <h1>¡Reservación completada!</h1>

    <p> Se ha realizado la reserva, recuerde confirmarla para recibir el código de acceso  </p>
    


</div>
</html>